/* Complete website css */
body {
    font-family: 'Gentium Book Plus', serif;
    font-size: 18px;
    margin: 0;
}
body p {
    color: dimgray;
}
.flexContainer {
    display: flex;
    margin-bottom: 120px;
}
h1 {
    font-size: 50px;
}

/* start welcomeSection style */
.welcomeSection {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.halfWidth {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.halfWidth img {
    width: 100%;
}
.linkBtn {
    text-decoration: none;
    color: #fff;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5%;
}
.author {
    color: tomato;
}
 
/* start dreamBig section style */
.dreamBigSection {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* start experienceSection style */
.experienceSection {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experienceSection h1:first-child {
    margin-left: 5%;
}
.experienceSection h3 {
    color: tomato;
}
.experienceSection .halfWidth {
    box-shadow: 10px 10px 40px lightblue;
}
.experienceSection .fullStack {
    border-left: 7px solid tomato;
}
.experienceSection .backend {
    border-left: 7px solid blue;
}
